@page
@model ChampionsConsulting.Pages.Login.UserLoginModel


@{
    if (ViewData["LoginMessage"] != null)
    {
        <p class="text-danger">@ViewData["LoginMessage"]</p>
    }
}

@{
    if (HttpContext.Session.GetString("Username") != null)
    {
        <p>@HttpContext.Session.GetString("Username") is logged in</p>
        <p>Are you sure you would like to logout?</p>
        <form asp-page="UserLogin" asp-page-handler="LogoutHandler">
            <button asp-page-handler="ReturnHandler" class="btn btn-primary" id="ReturnButton">Return</button>
            <input type="submit" class="btn btn-danger" value="Logout">
        </form>
    }
    else if (HttpContext.Session.GetString("LoginError") != null)
    {
        <p class="text-danger">@HttpContext.Session.GetString("LoginError")</p>

        <form asp-page="UserLogin">
            <label>Enter Username:</label>
            <input asp-for="Username" class="form-control" placeholder="Enter Username" />
            <br />
            <label>Enter Password:</label>
            <input asp-for="Password" class="form-control" placeholder="Enter Password" type="password" />
            <br />
            <input type="submit" class="btn btn-primary" />
            <button asp-page-handler="PopulateHandler" class="btn btn-primary" id="PopulateButton">Populate</button>
            <button asp-page-handler="ReturnHandler" class="btn btn-primary" id="ReturnButton">Return</button>
        </form>
        <br />
    }
    else
    {
        <form asp-page="UserLogin">
            <label>Enter Username:</label>
            <input asp-for="Username" class="form-control" placeholder="Enter Username" id="UsernameInput" />
            <br />
            <label>Enter Password:</label>
            <input asp-for="Password" class="form-control" placeholder="Enter Password" type="password" id="PasswordInput" />
            <br />
            <input type="submit" class="btn btn-primary" />
            <button asp-page-handler="ReturnHandler" class="btn btn-primary" id="ReturnButton">Return</button>
        </form>
    }
}
