@page
@model ChampionsConsulting.Pages.EventManagement.CheckInModel
@{
}
<head>
    <link rel="stylesheet" type="text/css" href="site.css" />
</head>
<body>
Please confirm that you are at the location and click "Check in" to proceed.

<br/>

<button asp-page-handler="CheckInHandler" class="btn btn-primary">Check in</button>

<button asp-page-handler="ReturnHandler" class="btn btn-primary">Return</button>
</body>