@page
@model ChampionsConsulting.Pages.EventManagement.CreateSubEvent2Model
@{
}

<style>
    body {
        font-family: 'Arial', sans-serif;
        color: #333;
        line-height: 1.6;
        background-image: linear-gradient(#f048c6, #f6ea41 );
        font-family: Verdana, sans-serif;
        margin: 0
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        min-height: 50px;
        max-height: 80px;
        background-color: rgba(36, 32, 33, 0.9);
        color: white;
        font-family: "Helvetica Neue", Helvetica;
        padding: 10px 0px;
        padding-top: 10px;
        margin-top: 30px;
        font-weight: 100;
        clear: both;
    }
</style>
<h2>Create Meeting:</h2>
<br />
@{
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }

    @if (TempData["FailMessage"] != null)
    {
        <div class="alert alert-danger">@TempData["FailMessage"]</div>
    }

    @if (HttpContext.Session.GetString("Username") != null)
    {
        <form asp-page="CreateMeeting">
            <div class="form-text">Meeting Name</div>
            <input asp-for="SubEventName" placeholder="Meeting Name" class="form-control" id="MeetingNameInput" />
            <span asp-validation-for="SubEventName" class="text-danger"></span>
            <br />

            <div class="form-text">Meeting Description</div>
            <input asp-for="EventName" placeholder="Meeting Description" class="form-control" id="MeetingDescriptionInput" />
            <span asp-validation-for="EventName" class="text-danger"></span>
            <br />

            <div class="form-text">Start Time</div>
            <input asp-for="StartTime" type="time" placeholder="Start Time" class="form-control" id="StartTimeInput" />
            <span asp-validation-for="StartTime" class="text-danger"></span>
            <br />

            <div class="form-text">End Time</div>
            <input asp-for="EndTime" type="time" placeholder="End Time" class="form-control" id="EndTimeInput" />
            <span asp-validation-for="EndTime" class="text-danger"></span>
            <br />

            <select asp-for="SubEventType" asp-items="Model.SubEvents">
                <option value="Admin Meeting">Admin Meeting</option>
                <option value="Panel">Panel</option>
                <option value="Presentaion">Presentation</option>>
                <option value="Social">Social</option>
                <option value="Workshop">Workshop</option>
            </select>

            <div class="form-text">Room Number</div>
            <input asp-for="RoomID" placeholder="Room Number" class="form-control" id="RoomIDInput" />
            <span asp-validation-for="RoomID" class="text-danger"></span>
            <br />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br />

            <input type="submit" class="btn btn-primary" value="Create" />
            <button asp-page-handler="PopulateHandler" class="btn btn-primary" id="PopulateButton">Populate</button>
            <button asp-page-handler="ClearHandler" class="btn btn-primary">Clear</button>
            <button asp-page-handler="ReturnHandler" class="btn btn-primary">Return</button>
        </form>
    }

    @if (HttpContext.Session.GetString("Username") == null)
    {
        <h2 class="center">You must <b>login</b> before accesing this feature.</h2>
    }
}

<script>
    document.getElementById('PopulateButton').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default form submission

        document.getElementById('MeetingNameInput').value = 'Test Meeting Name';
        document.getElementById('MeetingDescriptionInput').value = 'Meeting Stuff';
        document.getElementById('StartTimeInput').value = '08:00';
        document.getElementById('EndTimeInput').value = '09:00';
        document.getElementById('RoomIDInput').value = '1';
    });
</script>