@page
@model ChampionsConsulting.Pages.FeedbackModel
@{
}

<head>
    <link rel="stylesheet" type="text/css" href="site.css" />
</head>

<h2>Event Feedback</h2>

<form asp-action="SelectEvent">
    <div>
        <label>Select an Event:</label>
        <select asp-for="EventId" asp-items="Model.EventOptions">
            <option value="">Select an event</option>
        </select>
    </div>


    <div>
        <label>Feedback:</label><br />
        <textarea asp-for="Feedback" rows="6" cols="40"></textarea>
        <span asp-validation-for="Feedback" class="text-danger"></span>
    </div>

    <button type="submit">Submit Feedback</button>
</form>
