@page
@model ChampionsConsulting.Pages.EventManagement.RegistrationModel
@{
    if (HttpContext.Session.GetString("Username") == null)
    {
        <h2>You must sign in to access this feature.</h2>
    }
    else
    {
        <form asp-page="Registration">
            <h2 class="align-content-xl-center" color="white">Confirm Registration</h2>
            <div class="visually-hidden">
                <input asp-for="CurrEventID" />
            </div>
            <div class="visually-hidden">
                <input asp-for="CurrUser" />
            </div>
            <div class="text-center">@Model.EventName</div>
            <input type="submit" class="btn btn-dark" value="Register" />
            <button asp-page-handler="ReturnHandler" class="btn btn-dark">Return</button>
        </form>
    }
}
