@page
@model ChampionsConsulting.Pages.EventManagement.SearchModel
@{
}
<style>
    body {
        font-family: 'Arial', sans-serif;
        color: #333;
        line-height: 1.6;
        background-image: linear-gradient(#f048c6, #f6ea41 );
        font-family: Verdana, sans-serif;
        margin: 0
    }

    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        min-height: 50px;
        max-height: 80px;
        background-color: rgba(36, 32, 33, 0.9);
        color: white;
        font-family: "Helvetica Neue", Helvetica;
        padding: 10px 0px;
        padding-top: 10px;
        margin-top: 30px;
        font-weight: 100;
        clear: both;
    }
</style>
<form asp-page="Search">
    <label>Enter Presenter Name:</label>
    <input asp-for="Presenter" class="form-control" placeholder="Enter Presenter Name" />
    <br />
    <label>Enter Keyword:</label>
    <input asp-for="Keyword" class="form-control" placeholder="Enter Keyword" />
    <br />
    <input type="submit" class="btn btn-primary" />
    <button asp-page-handler="ReturnHandler" class="btn btn-primary" id="ReturnButton">Return</button>
</form>
<br />
