@page
@model ChampionsConsulting.Pages.EventManagement.SearchModel
@{
}

<form asp-page="Search">
    <label>Enter Presenter Name:</label>
    <input asp-for="Presenter" class="form-control" placeholder="Enter Presenter Name" />
    <br />
    <label>Enter Keyword:</label>
    <input asp-for="Keyword" class="form-control" placeholder="Enter Keyword" />
    <br />
    <input type="submit" class="btn btn-primary" />
    <button asp-page-handler="ReturnHandler" class="btn btn-primary" id="ReturnButton">Return</button>
</form>
<br />
