<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChampionsConsulting</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ChampionsConsulting.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color: #34005e">
            <div class="container">
                <a class="navbar-brand mb-0 h1" asp-area="" asp-page="/Index">Champions Consulting</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @{
                            @if (Context.Session.GetString("UserType") == "Admin")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/Login/UserPage">My Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/EventManagement/CreateEvent">Create Event</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/EventManagement/SubEventSignUp">Sign up for an event</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/AdminPages/UserSearch">User Data</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/EventManagement/Search">Event Search</a>
                                </li>
                            }
                            @if (Context.Session.GetString("UserType") == "Organizer")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/Login/UserPage">My Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/EventManagement/CreateEvent">Create Event</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/EventManagement/CreateSubEvent">Create SubEvent</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/AdminPages/UserSearch">User Data</a>
                                </li>
                                // <li class="nav-item">
                                //     <a class="nav-link text-light" asp-page="/EventManagement/Search">Event Search</a>
                                // </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/EventManagement/EventInformation">Edit Events</a>
                                </li>
                            }
                            @if (Context.Session.GetString("UserType") == "Presenter")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/Login/UserPage"> My Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/EventManagement/SubEventSignUp">Sign up for an event</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/EventManagement/Search">Event Search</a>
                                </li>
                            }
                            @if (Context.Session.GetString("UserType") == "Participant")
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/Login/UserPage">My Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/EventManagement/SubEventSignUp">Sign up for an event</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/EventManagement/Search">Event Search</a>
                                </li>
                            }
                        }
                    </ul>
                    @{
                        if (Context.Session.GetString("Username") != null)
                        {
                            <a class="nav-link text-light">@Context.Session.GetString("Username")</a>
                            <form method="get" asp-page="/EventManagement/Search" id="SearchButton">
                                <button type="submit" class="btn btn-outline-light">Search</button>
                            </form>
                            <form method="get" asp-page="/Login/UserLogin">
                                <button type="submit" class="btn btn-outline-warning">Log Out</button>
                            </form>
                        }
                        else
                        {
                            <a class="nav-link text-light">No user is logged in</a>
                            <form method="get" asp-page="/Login/UserLogin" id="LoginButton">
                                <button type="submit" class="btn btn-outline-light">Login</button>
                            </form>
                            <form method="get" asp-page="/Login/CreateUser" id="SignUpButton">
                                <button type="submit" class="btn btn-outline-warning">Sign Up</button>
                            </form>
                        }
                     }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ChampionsConsulting - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>