@page
@model ChampionsConsulting.Pages.AdminPages.UserInfoModel
@{
}


@if (HttpContext.Session.GetString("Username") != null)
{
    <form asp-action="ChooseUser">
        <h2>Select a User:</h2>
        <br />
        <select asp-for="UserID" asp-items="Model.Users">
            <option value="">Select a Username</option>
        </select>
        <br />
        <br />
        <input asp-for="UserID" type="submit" value="View Data" class="btn btn-primary" />
        <button asp-page-handler="ReturnHandler" class="btn btn-primary">Return</button>
    </form>
}

@if (HttpContext.Session.GetString("Username") == null)
{
    <h2 class="center">You must <b>login</b> before accesing this feature.</h2>
}